* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: 1px solid black;
}

body {
    display: grid;
    grid: 1fr 6fr / 1fr 4fr;
    height: 100vh;
}

.header {
    grid-area: 1 / 1 / 2 / 3;
    display: grid;
    background-color: rgb(85, 85, 85);
}

.header h1 {
    align-self: flex-end;
    font-size: 3.8rem;
    padding: 16px;
    background-color: rgb(85, 85, 85);
    color: white;
}

.sidebar {
    grid-area: 2 / 1 / 3 / 2;
    min-width: 250px;
    background-color: rgb(215, 212, 212);
}

.active {
    background-color: gray;
}




/* Content and ToDos */
#tasks-container {
    display: grid;
    grid: 1fr / 4fr 1fr 1fr 1fr 1fr;

}

.task-div {
    grid-column: 1 / 6;
    display: grid;
    grid: 1fr / 4fr 1fr 1fr 1fr 1fr;
}

.complete > span {
    text-decoration: line-through;
}

.todo-button {
    position: absolute;
    bottom: 40px;
    right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    padding: 20px;
    border-radius: 50%;
    font-size: 3rem;
    text-align: center;
    text-decoration: none;
}

.todo-button span {
    border: none;
    padding-bottom: 4px;
}

#todo-form {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    display: grid;
}